.form__label {
  display: block;
  color: #333;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.form__input {
  border: 1px solid rgba(167, 167, 167, 0.5);
  width: 100%;
  padding: 0.85rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
}

.form__group--inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form__group--inline + .form__group--inline {
  margin-top: 1rem;
}

label.form__group--inline-label {
  color: #737373 !important;
  font-size: 0.8rem;
  flex: 1 0 30%;
  text-align: left !important;
}

.form__group--inline-input {
  width: 100%;
}
