.page-container {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  flex-grow: 1;
  margin: 2rem 0;
}

.grid-content-container {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
}

.grid-content__left {
  grid-area: 1 / 1 / 6 / 6;
  align-items: center;
  justify-content: center;
}

.page__left-icon {
  padding: 1rem;
}

.grid-content__right {
  grid-area: 1 / 6 / 6 / 13;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.grid-content__right-inner {
  padding: 2rem;
}

.page__heading {
  font-size: 1.5rem;
  margin: 1.25rem 0;
  font-weight: bolder;
}

.page__sub-heading {
  color: #737373;
}

.page__sub-heading + .page__sub-heading {
  margin: 1rem 0;
}

.page-footer {
  margin-top: auto;
  border-top: 1px solid #d7d7d7;
  padding: 0 1rem;
}

.page-footer .button__button {
  max-width: 4.8rem;
  width: 100%;
  margin-left: auto;
  display: block;
}

.page__gray-box {
  text-align: center;
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 1rem;
}

.page__gray-box--inner {
  max-width: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .page-container {
    padding: 0 1.5rem;
  }

  .grid-content__left {
    display: none;
  }

  .grid-content__right {
    grid-column-start: 1;
  }
}
