@import "./css/forms.css";
@import "./css/pages.css";

@font-face {
  font-family: "InstrumentSans";
  src: url("./fonts/InstrumentSans-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSansItalic";
  src: url("./fonts/InstrumentSans-Italic-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "InstrumentSans", sans-serif;
  background-color: #fafafa;
  height: 100dvh;
  padding: 1rem;
}

#app,
main {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-sm {
  font-size: 0.8rem;
}

.error-message {
  color: #ff3939 !important;
  margin-bottom: 0.5rem;
}

.align-self-center {
  align-self: center;
}

.desktop-show {
  display: block;
}

.mobile-show {
  display: none;
}

@media (max-width: 600px) {
  .desktop-show {
    display: none;
  }

  .mobile-show {
    display: block;
  }
}
